<!-- Header Content -->
<header id="header" class="skel-layers-fixed" style="background-color: rgb(50, 50, 50)">
<h1 style="color: rgb(255, 255, 255)"><a href="index.html" style="font-size:25px"> &nbsp Duo CHAN</a></h1>

  <nav id="nav">

    <ul>
      <li><a href="index.html">Home</a></li>
      <!-- ------------------------------------ -->
      <li class="dropdown">
        <a href="research_01_DCENT.html">Research Interests</a>
        <div class="dropdown-content">
          <ul>
            <li><a href="research_01_DCENT.html">DCENT</a></li>
            <li><a href="research_02_SST_01.html">Sea-Surface Temperature</a></li>
            <li><a href="research_03_Sigmal.html">Land & Soil</a></li>
            <li><a href="research_04_Jet.html">Jet</a></li>
            <li><a href="research_05_Koppen.html">Climate Regimes</a></li>
          </ul>
        </div>
      </li>
      <!-- ------------------------------------ -->
      <li><a href="publication.html">Publications</a></li>
      <!-- ------------------------------------ -->
      <li class="dropdown">
        <a href="teaching_01_teaching_00.html">Teaching</a>
        <div class="dropdown-content">
          <ul>
            <li><a href="teaching_01_teaching_00.html">Teaching</a></li>
            <li><a href="teaching_02_outreach.html">Outreach</a></li>
          </ul>
        </div>
      </li>
      <!-- ------------------------------------ -->
      <!-- <li><a href="Resource_page.html">Resources</a></li> -->
      <li><a href="CV_Duo_Chan.pdf"><B style="color:rgb(255,255,255)">CV</B></a></li>
      <!-- ------------------------------------ -->
    </ul>
  </nav>
</header>
